# Lecture pandas basics

- Two big data structures
- pandas.Series
- pandas.DataFrame
- read.csv
- indexing
- plotting

## pandas series

- can create from dictionary 
- can create from list 
- can create from np.array

In [4]:
import pandas as pd

programs_dict = dict(AI = 25, NET = 38, Java = 30, UX = 28)

programs_series = pd.Series(programs_dict) 

programs_series

AI      25
NET     38
Java    30
UX      28
dtype: int64

In [5]:
# extract values through indexing
print(f"{programs_series[0] = }")
print(f"{programs_series[-1] = }")

# get keys
print(f"{programs_series.keys() = }")
print(f"{programs_series.keys()[0] = }")

programs_series[0] = 25
programs_series[-1] = 28
programs_series.keys() = Index(['AI', 'NET', 'Java', 'UX'], dtype='object')
programs_series.keys()[0] = 'AI'

In [10]:
import random as rnd

rnd.seed(1337)

dice_series = pd.Series([rnd.randint(1, 6) for _ in range(10)])
dice_series.head() # shows the first 5 (by default) rows in a series

0    5
1    5
2    6
3    3
4    5
dtype: int64

In [19]:
print(f"{dice_series.min()}") #shows the lowest value in the series
print(f"{dice_series.argmin()}") #shows the index associated to the lowest value in the series
print(f"{dice_series.max()}") # displays max value in series
print(f"{dice_series.mean()}") # displays average value of the sereis
print(f"{dice_series.median()}") # sorts all values in order, picks the middle value

2
7
6
4.4
5.0

## Dataframe

- tabular data with rows and columns
- analog to 2D numpy arrays with flexible row indices and col names
- specialized dictionary with ol name mapped to a series object

In [22]:
pd.DataFrame(programs_series, columns = ("Number of students",))

      Number of students
AI                    25
NET                   38
Java                  30
UX                    28