# Uppgift 1

- Läs in bladet "Veckodata Riket" från excel ark

In [5]:
import pandas as pd #imported pandas 


# läser in datan specifikt till excel bladet "Veckodata Riket"
veckodata_riket = pd.read_excel("../Labb/Data/Folkhalsomyndigheten_Covid19.xlsx", sheet_name= "Veckodata Riket")

### a) 
- Gör initial dataanalys överdatasetet

In [7]:
# Lyfter ut de fem första raderna ur datasetet
veckodata_riket.head()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.0
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.0
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.0
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.0
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.0

In [10]:
# Nedan ser vi att datan består av 144 rader och 13 kolumner
veckodata_riket.shape

(144, 13)

In [12]:
# överblickande information. Vi ser här att datan har lästs in korret, då vi inte har några missing values
# vi ser även de olika datatyperna per kolumn samt indexnr för kolumnerna
veckodata_riket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   år                              144 non-null    int64
 1   veckonummer                     144 non-null    int64
 2   Antal_fall_vecka                144 non-null    int64
 3   Antal_fall_100000inv_vecka      144 non-null    int64
 4   Antal_fall_100000inv_14dagar    144 non-null    int64
 5   Kum_antal_fall                  144 non-null    int64
 6   Kum_fall_100000inv              144 non-null    int64
 7   Antal_nyaintensivvårdade_vecka  144 non-null    int64
 8   Kum_antal_intensivvårdade       144 non-null    int64
 9   Antal_avlidna_vecka             144 non-null    int64
 10  Antal_avlidna_milj_inv_vecka    144 non-null    float64
 11  Kum_antal_avlidna               144 non-null    int64
 12  Kum_antal_avlidna_milj_inv      144 non-null    float64
dtypes: float64(2), int64(11)
memory usage: 14.8 KB

### b)
- slå ihop kolumnerna "är" och "veckonummer"

In [18]:
# typomvandlar "år" och "veckonummer" från int till str för att kunna konkatenera de två kolumnerna till en med + operatorn
veckodata_riket["Vecka"] = veckodata_riket["år"].astype(str) + "v" + veckodata_riket["veckonummer"].astype(str)
veckodata_riket["Vecka"].head()

0     2020v6
1     2020v7
2     2020v8
3     2020v9
4    2020v10
Name: Vecka, dtype: object