In [3]:
import pandas as pd
import plotly.express as px

#läste in excel ark + blad samt anv .head() för att få en snabb överblick över bladet
vaccine = pd.read_excel("..\Labb\Data\Folkhalsomyndigheten_Covid19_Vaccine.xlsx", sheet_name = "Vaccinerade kommun och ålder")
vaccine.head()

,Län,Län_namn,Kommun,Kommun_namn,Ålder,Befolkning,Antal minst 1 dos,Antal minst 2 doser,Antal 3 doser,Antal 4 doser,Andel minst 1 dos,Andel minst 2 doser,Andel 3 doser,Andel 4 doser
0,1,Stockholms län,114,Upplands Väsby,12-15,2422,1206,1048,NaN,NaN,0.497936,0.432700,NaN,NaN
1,1,Stockholms län,114,Upplands Väsby,16-17,1203,837,754,NaN,NaN,0.695761,0.626766,NaN,NaN
2,1,Stockholms län,114,Upplands Väsby,18-29,6692,4895,4476,1963.0,NaN,0.731470,0.668858,0.293335,NaN
3,1,Stockholms län,114,Upplands Väsby,30-39,7332,5558,5258,2887.0,NaN,0.758047,0.717130,0.393753,NaN
4,1,Stockholms län,114,Upplands Väsby,40-49,6946,5592,5432,3725.0,NaN,0.805068,0.782033,0.536280,NaN

### a)
- hur många län finns representerade i datasetet?

In [22]:
# beräknar de unika värderna samt frekvensen de förekommer
län = vaccine["Län_namn"].value_counts()
län

Västra Götalands län    490
Skåne län               330
Stockholms län          260
Värmlands län           160
Västerbottens län       150
Dalarnas län            150
Norrbottens län         140
Jönköpings län          130
Östergötlands län       130
Kalmar län              120
Örebro län              120
Västmanlands län        100
Gävleborgs län          100
Södermanlands län        90
Uppsala län              80
Kronobergs län           80
Jämtlands län            80
Västernorrlands län      70
Hallands län             60
Blekinge län             50
Gotlands län             10
Name: Län_namn, dtype: int64

In [23]:
#skriver ut antalet rader i columnen "län", ger oss svar på hur många län som finns representerade i datasetet
län.shape
#svaret är 21 län finns representerade i datasetet

(21,)

b)
- Hur många kommuner finns representerade i datasetet?

In [24]:
# Återupprepade stegen ovan
kommuner = vaccine["Kommun_namn"].value_counts()
kommuner.shape
# Det finns 290 kommuner representerade i datasetet

(290,)